.card {
    background: linear-gradient(to top, #283038 50%, rgb(107, 8, 86) 50%);
    border-radius: 10px;
    transition: transform 0.3s ease;
    &:hover{
        opacity: 1;
        transform: translateY(-10px);
    }
  }
  
  .card-body img {
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card h5 {
    font-weight: 600;
  }
  
  