<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
        class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0 border-0 shadow-sm bg-dark" style="border-radius: 10px;">
                        <div class="card-body text-center">
                            <a class="text-nowrap logo-img py-3 w-100 d-block">
                                <h3 class="ubuntu-medium">Verify Email For Password Reset</h3>
                            </a>
                            <p class=""> {{"Please Enter your email below, you will receive a one-time code to verify"| titlecase}}</p>
                            <p class="text-muted ubuntu-light-italic">Thank you for understanding</p>
                            <form [formGroup]="emailVerificationForm" class="ml-5 form-inline">
                                <div class=" d-flex justify-content-center form-group mx-sm-3 mb-2">
                                    <div class="column text-center">

                                        <input type="text" formControlName="email" class="ml-5 form-control text-white"
                                            id="inputEmail" placeholder="email@example.com">
                                        <br>

                                        <div
                                            *ngIf="emailVerificationForm.controls['email'].invalid && (emailVerificationForm.touched || emailVerificationForm.controls['email'].dirty)">
                                            <br>
                                            <div *ngIf="emailVerificationForm.controls['email'].errors?.['required']">
                                                Email
                                                Field is Required</div>
                                            <div *ngIf="emailVerificationForm.controls['email'].errors?.['email']">Email
                                                Format is Incorrect</div>
                                        </div>
                                       
                                    <br>
                                        <!-- Feedback message -->
                                        <div *ngIf="isSent !== null" class="">
                                            <small *ngIf="isSent" class="text-success">Please check your inbox.</small>
                                            <small *ngIf="!isSent" class="text-danger">Invalid email or already
                                                used.</small>
                                            <button *ngIf="isVerified" class="link major-color" (click)="goToResetPasswordPage()" >SignUp</button>
                                        </div>
                                    </div>

                                </div>
                                <button *ngIf="!isSent" [disabled]="emailVerificationForm.invalid" type="submit"
                                    class="ml-5 btn btn-primary mb-2" (click)="sendEmail()">Confirm
                                    identity</button>
                                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>